@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App {}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navbar {
    width: 100%;
    text-align: center !important;
    justify-content: center !important;
}

ul {
    padding: 0px;
}

li {
    justify-content: center;
    list-style-type: none;
}

button {
    width: 192px;
    height: 31px;
    border-radius: 15px !important;
    background-color: rgba(49, 90, 104, 0.2);
    color: #315A68;
    font-size: 18px !important;
    border-style: none;
    margin-bottom: 42px !important;
    margin-top: 16px !important;
    margin-right: 8px !important;
}

a {
    font-family: 'Roboto';
    margin-bottom: 0px !important;
    text-decoration-style: none;
    color: #0a1215 !important;
}

a:active {
    text-decoration-style: solid;
}

h2 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 600;
}

.empContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: 'wrap';
    flex-direction: 'row';
}

.radonContainer {
    display: flex;
    justify-content: center;
}

.KleineRadonCard {
    display: flex;
    width: 342px;
    height: 331px;
    padding-left: 16px;
    padding-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    border: solid 0.5px #85898a;
    background-color: #fdfdfd;
}

.KleineRadonCard-rechts {
    width: 350px;
    text-align: right;
    justify-content: flex-end;
    position: relative;
    left: 60px;
    top: 10px;
}

.KleineRadonCard-links {
    justify-content: flex-start;
}

.FlacheRadonCard {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    margin-bottom: 8px;
    width: 100%;
    height: 152px;
    border-radius: 15px;
    border: solid 0.5px #85898a;
    background-color: #fdfdfd;
}

.FlacheRadonCard-Rechts {
    text-align: right;
    justify-content: flex-end;
    position: relative;
    right: 100px;
    top: 30px;
}

.FlacheRadonCard-Links {
    justify-content: flex-start;
}

.EmpVorname {
    width: 306px;
    height: 28px;
    font-family: 'Roboto';
    font-size: 24px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a1215;
}

.StayAnlagenamen {
    width: 663px;
    height: 32px;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    letter-spacing: normal;
    color: #0a1215;
}

.stayText {
    width: 50%;
    height: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: normal;
    color: #0a1215;
}

.dosisLabel {
    width: 100px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a1215;
    text-align: center;
}

.dosisText {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    color: #0a1215;
    text-align: center;
}

.DiagramBox {
    justify-content: center;
    width: 100%;
    height: 438px;
    padding-top: 32px;
    border-radius: 15px;
    border: solid 0.5px #85898a;
    background-color: #fdfdfd;
}

.NavBarBackground {
    box-shadow: 0 3px 6px 0 rgba(10, 18, 21, 0.17), 0 0 6px 0 rgba(10, 18, 21, 0.17);
    background-color: #fdfdfd;
}

.spacerTop {
    margin-bottom: 96px;
}

.spacerBetween {
    margin-bottom: 40px;
}

.RadonText {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a1215;
}

.logos {
    position: absolute;
    top: 55px;
    left: 135px;
    z-index: 1;
}

p {
    margin-bottom: 6px !important;
}